.toc-container{
    @media screen and (max-width: 1500px){
        display: none;
    }
    position: absolute;
    right:-27vw;
    height: 100%;
    top:200px;
    max-width: 400px;
    .toc-content{
        position: sticky;
        top: 100px;
        .toc{
            ul, ol{
                list-style-type: none;
                a {
                    color:#34495e;
                    &:hover{
                        text-decoration: underline;
                    }
                    &.isCurrent{
                        font-size: 15px;
                        color: #f15c8e;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
